.notifyme-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    min-width: 100px;
  }
  
  .notifyme-container {
    padding: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
  
    &.notifyme-info {
      background-color: #4fa0d6f0;
    }
  
    &.notifyme-success {
      background-color: #76c798f0;
    }
  
    &.notifyme-warning {
      background-color: #ecad48f0;
    }
  
    &.notifyme-error {
      background-color: #e74c3cf0;
    }
  
    &.notifyme-notify {
      background-color: #555555f0;
    }
  }
  
  .notifyme-close {
    text-align: right;
    color: #fff;
    cursor: pointer;
  }
  
  .notifyme-icon {
    color: #fff;
    font-size: 25px;
  }
  
  .notifyme-message {
    display: grid;
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
  }
  
  .notifyme-title {
    color: #fff;
    font-weight: bold;
  }
  
  .notifyme-description {
    color: #fff;
    display: flex;
    align-items: center;
  }